<!-- <form class="container">
    <input class="inp-search"type="text" placeholder="Search...">
    <div class="search"></div>
  </form> -->


  <form class="container" id="search-form">
    <input
        class="inp-search"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
    />
    <button class="search"></button>
    <button class="custom-button" type="submit">Search</button>
  </form>

  <div class="gallery">
    <!-- Карточки изображений -->
  </div>

  <button class="load-more">LOAD MORE...</button>