<section>

<form class="container search-form" id="search-form">
   <input
       class="inp-search"
       type="text"
       name="searchQuery"
       autocomplete="off"
       placeholder="Search images..."
   />
   <button class="custom-button"  type="submit">Search</button>
   <span class="search"></span>
   
   
 </form>
 <div class="gallery"></div>
 <div class="target-element"></div>

</section>



 <!-- <button class="load-more" id="loadmore" disabled>LOAD MORE...</button> -->



  
 

 
  